In [57]:
# Here I will import the API from https://github.com/cwendt94/espn-api
from espn_api.football import League
import pandas as pd

league = League(league_id=25088590, year=2021, espn_s2='AEB%2F3xkFFHWUdCoDkI%2BP52fOw7mzztiHmtcrfiew4PkwgVlliih%2FPrq4usD6pt%2BaOQhWYajpm5VI1008hcmPQhEnhmOihc9b5O%2FgvFxCFM2qi16pLcUKEM0ghp65TW8hb4rgQ6GIXtrip5vp26o49%2BCi%2Bc1kBeJ6FPgZ0uawJeRHl18cjYTGEtLfjcefYRLvzXXBeDzkn%2Fg%2BTmpXFFibi%2BBTTcq1%2BjWvOwnjcPGN9z8Ze9ALjqmOpFanHmh1unSrxDY7OYleUpbKCVhn02QzTgnKLmP4Ea2SBu7a9VkIR63K8g%3D%3D', swid='{F5FCF83D-8E47-4FD1-BCF8-3D8E47DFD1B1}')

In [58]:
#Create a function that will return the users highest scoring player over the season

box_scores = league.box_scores(3)
box_scores[3].away_team

Team(TMEC ðŸ˜Ž)

In [59]:
box_scores[3].away_lineup

[Player(Christian McCaffrey, points:6, projected:25),
 Player(Austin Ekeler, points:22, projected:17),
 Player(George Kittle, points:17, projected:13),
 Player(Allen Robinson II, points:4, projected:14),
 Player(Cooper Kupp, points:30, projected:18),
 Player(D'Andre Swift, points:23, projected:14),
 Player(Myles Gaskin, points:10, projected:11),
 Player(Russell Wilson, points:16, projected:21),
 Player(Tyler Boyd, points:13, projected:13),
 Player(Steelers D/ST, points:4, projected:7),
 Player(Younghoe Koo, points:6, projected:7),
 Player(Ty'Son Williams, points:2, projected:12),
 Player(Sterling Shepard, points:3, projected:13),
 Player(Jamaal Williams, points:14, projected:9),
 Player(Rondale Moore, points:2, projected:12),
 Player(Alexander Mattison, points:23, projected:16)]

In [60]:
last_game = box_scores[3].away_lineup

for player in last_game:
    if player.points < 10:
        print(player)

Player(Christian McCaffrey, points:6, projected:25)
Player(Allen Robinson II, points:4, projected:14)
Player(Steelers D/ST, points:4, projected:7)
Player(Younghoe Koo, points:6, projected:7)
Player(Ty'Son Williams, points:2, projected:12)
Player(Sterling Shepard, points:3, projected:13)
Player(Rondale Moore, points:2, projected:12)

In [61]:
for player in last_game:
    if player.points > player.projected_points:
        print(player)

Player(Austin Ekeler, points:22, projected:17)
Player(George Kittle, points:17, projected:13)
Player(Cooper Kupp, points:30, projected:18)
Player(D'Andre Swift, points:23, projected:14)
Player(Tyler Boyd, points:13, projected:13)
Player(Jamaal Williams, points:14, projected:9)
Player(Alexander Mattison, points:23, projected:16)

In [62]:
for player in last_game:
    if player.points > player.projected_points:
        print(player.name, player.points - player.projected_points)

Austin Ekeler 5.09
George Kittle 3.730000000000002
Cooper Kupp 12.14
D'Andre Swift 9.059999999999999
Tyler Boyd 0.049999999999998934
Jamaal Williams 5.299999999999999
Alexander Mattison 6.520000000000003

In [53]:
# create a function that displays the name of the biggest "boom" and 'bust' of the users team for the week
boom = 
bust = []

diff_total = (player.name, player.points - player.projected_points)

for player in last_game:
    if player.points > player.projected_points:
        boom.append(diff_total)
    else: 
        
#     print(boom)
#     print(bust)

IndentationError: expected an indented block (<ipython-input-53-4336ca1b96c3>, line 14)

In [38]:
league.scoreboard()

[Matchup(Team(BUSHWICK BULLIES), Team(Buy My OnlyPhins)),
 Matchup(Team(TMEC ðŸ˜Ž), Team(Boof Nation  imsimplycc )),
 Matchup(Team(Oaxacan Red Beards), Team(LV GAMBLERS)),
 Matchup(Team(LA TOMCATS), Team(TOMPA BRADY)),
 Matchup(Team(Anaheim  Pigs), Team(SUN CITY GOONS))]

In [43]:
week = 4
matchups = league.scoreboard(week)
matchups[1].home_score

0.0

In [151]:
# Compairing draft day board to current standing to identify "draft steals"
draft_df = pd.read_csv(r"C:\Users\Cody\Fantasy\final_draft1.csv")

In [152]:
team = league.teams[0]
player = team.roster
player[0]

Player(Derrick Henry)

In [153]:
tom_team = (player[0]
          ,player[1],
          player[2],
          player[3],
          player[4],
          player[5],
          player[6],
          player[7],
          player[8],
          player[9],
          player[10],
          player[11],
          player[12],
          player[13],
          player[14],
          player[15],)

tom_df = pd.DataFrame(tom_team)
tom_df

                           0
0      Player(Derrick Henry)
1       Player(Najee Harris)
2     Player(Terry McLaurin)
3       Player(Amari Cooper)
4      Player(Aaron Rodgers)
5      Player(Robert Tonyan)
6     Player(Chase Claypool)
7     Player(Marquise Brown)
8      Player(Jaylen Waddle)
9   Player(Devin Singletary)
10      Player(Tony Pollard)
11     Player(Panthers D/ST)
12    Player(Daniel Carlson)
13        Player(Derek Carr)
14     Player(Tyler Conklin)
15       Player(Titans D/ST)

In [154]:
tom_name = (
    {"Player": [player[0].name,
           player[1].name,
           player[2].name,
           player[3].name,
           player[4].name,
           player[5].name,
           player[6].name,
           player[7].name,
           player[8].name,
           player[9].name,
           player[10].name,
           player[11].name,
           player[12].name,
           player[13].name,
           player[14].name,
           player[15].name]})
          
tom_name_df = pd.DataFrame(tom_name)
tom_name_df

              Player
0      Derrick Henry
1       Najee Harris
2     Terry McLaurin
3       Amari Cooper
4      Aaron Rodgers
5      Robert Tonyan
6     Chase Claypool
7     Marquise Brown
8      Jaylen Waddle
9   Devin Singletary
10      Tony Pollard
11     Panthers D/ST
12    Daniel Carlson
13        Derek Carr
14     Tyler Conklin
15       Titans D/ST

In [155]:
tom_pos = (
    {"POS Rank": [player[0].posRank,
           player[1].posRank,
           player[2].posRank,
           player[3].posRank,
           player[4].posRank,
           player[5].posRank,
           player[6].posRank,
           player[7].posRank,
           player[8].posRank,
           player[9].posRank,
           player[10].posRank,
           player[11].posRank,
           player[12].posRank,
           player[13].posRank,
           player[14].posRank,
           player[15].posRank]})
          
tom_pos_df = pd.DataFrame(tom_pos)
tom_pos_df

    POS Rank
0          1
1          6
2         21
3         18
4         21
5         25
6         36
7         14
8         26
9         30
10        18
11         2
12         1
13         9
14         9
15        26

In [156]:
frames = [tom_name_df,tom_pos_df]
tom_team_df = pd.concat(frames, axis = 1, join="inner")
tom_team_df

              Player  POS Rank
0      Derrick Henry         1
1       Najee Harris         6
2     Terry McLaurin        21
3       Amari Cooper        18
4      Aaron Rodgers        21
5      Robert Tonyan        25
6     Chase Claypool        36
7     Marquise Brown        14
8      Jaylen Waddle        26
9   Devin Singletary        30
10      Tony Pollard        18
11     Panthers D/ST         2
12    Daniel Carlson         1
13        Derek Carr         9
14     Tyler Conklin         9
15       Titans D/ST        26

In [157]:
list(tom_team_df.columns)

['Player', 'POS Rank']

In [158]:
draft_df.head(20)

                 Player POS Team  FantasyPoints     VOR  VOR Rank
0   Christian McCaffrey  RB  CAR         397.66  255.93       1.0
1           Dalvin Cook  RB  MIN         335.20  193.47       2.0
2          Alvin Kamara  RB   NO         318.33  176.60       3.0
3          Travis Kelce  TE   KC         311.92  156.60       4.0
4         Derrick Henry  RB  TEN         295.47  153.74       5.0
5         Davante Adams  WR   GB         343.95  150.17       6.0
6         Austin Ekeler  RB  LAC         285.63  143.90       7.0
7        Saquon Barkley  RB  NYG         281.99  140.26       8.0
8       Ezekiel Elliott  RB  DAL         278.62  136.89       9.0
9           Tyreek Hill  WR   KC         329.25  135.47      10.0
10          Aaron Jones  RB   GB         276.66  134.93      11.0
11      Jonathan Taylor  RB  IND         268.79  127.06      12.0
12            Joe Mixon  RB  CIN         265.35  123.62      13.0
13         Stefon Diggs  WR  BUF         316.21  122.43      14.0
14         Najee Harris  RB  PIT         261.40  119.67      15.0
15      DeAndre Hopkins  WR  ARI         312.57  118.79      16.0
16           Nick Chubb  RB  CLE         257.09  115.36      17.0
17       Antonio Gibson  RB  WAS         249.57  107.84      18.0
18        D'Andre Swift  RB  DET         245.29  103.56      19.0
19        Calvin Ridley  WR  ATL         296.43  102.65      20.0

In [159]:
list(draft_df.columns)

['Player', 'POS', 'Team', 'FantasyPoints', 'VOR', 'VOR Rank']

In [160]:
draft_df = draft_df[['Player', 'POS', 'VOR Rank']]
draft_df.head(20)

                 Player POS  VOR Rank
0   Christian McCaffrey  RB       1.0
1           Dalvin Cook  RB       2.0
2          Alvin Kamara  RB       3.0
3          Travis Kelce  TE       4.0
4         Derrick Henry  RB       5.0
5         Davante Adams  WR       6.0
6         Austin Ekeler  RB       7.0
7        Saquon Barkley  RB       8.0
8       Ezekiel Elliott  RB       9.0
9           Tyreek Hill  WR      10.0
10          Aaron Jones  RB      11.0
11      Jonathan Taylor  RB      12.0
12            Joe Mixon  RB      13.0
13         Stefon Diggs  WR      14.0
14         Najee Harris  RB      15.0
15      DeAndre Hopkins  WR      16.0
16           Nick Chubb  RB      17.0
17       Antonio Gibson  RB      18.0
18        D'Andre Swift  RB      19.0
19        Calvin Ridley  WR      20.0

In [162]:
df1 = tom_team_df
df2 = draft_df

In [163]:
df1.merge(df2)

              Player  POS Rank POS  VOR Rank
0      Derrick Henry         1  RB       5.0
1       Najee Harris         6  RB      15.0
2     Terry McLaurin        21  WR      42.0
3       Amari Cooper        18  WR      43.0
4      Aaron Rodgers        21  QB      60.0
5      Robert Tonyan        25  TE      95.5
6     Chase Claypool        36  WR      80.0
7     Marquise Brown        14  WR     106.0
8      Jaylen Waddle        26  WR     143.0
9   Devin Singletary        30  RB     116.0
10      Tony Pollard        18  RB     114.0
11        Derek Carr         9  QB     146.0
12     Tyler Conklin         9  TE     231.0

In [173]:
espn_draft = league.draft

In [167]:
first_pick = league.draft[0]
first_pick

Pick(Christian McCaffrey, Team(TMEC ðŸ˜Ž))

In [182]:
draft_results = pd.read_csv(r"C:\Users\Cody\Fantasy\draft_results.csv")
draft_results.head(20)

                         Player                    Team  Pick
0   Christian McCaffreyÂ Car,Â RB                  TMEC ðŸ˜Ž     1
1        Saquon BarkleyÂ NYG,Â RB             LV GAMBLERS     2
2           Dalvin CookÂ Min,Â RB        BUSHWICK BULLIES     3
3         Derrick HenryÂ Ten,Â RB              LA TOMCATS     4
4        Patrick MahomesÂ KC,Â QB  Boof Nation imsimplycc     5
5            Nick ChubbÂ Cle,Â RB             TOMPA BRADY     6
6           Travis KelceÂ KC,Â TE            Anaheim Pigs     7
7           Alvin KamaraÂ NO,Â RB          SUN CITY GOONS     8
8          Davante AdamsÂ GB,Â WR        Buy My OnlyPhins     9
9       Ezekiel ElliottÂ Dal,Â RB      Oaxacan Red Beards    10
10        Austin EkelerÂ LAC,Â RB                  TMEC ðŸ˜Ž    11
11      Jonathan TaylorÂ Ind,Â RB             LV GAMBLERS    12
12           Tyreek HillÂ KC,Â WR        BUSHWICK BULLIES    13
13         Najee HarrisÂ Pit,Â RB              LA TOMCATS    14
14           Aaron JonesÂ GB,Â RB  Boof Nation imsimplycc    15
15       Antonio GibsonÂ Wsh,Â RB             TOMPA BRADY    16
16            Joe MixonÂ Cin,Â RB            Anaheim Pigs    17
17         Stefon DiggsÂ Buf,Â WR          SUN CITY GOONS    18
18           DK MetcalfÂ Sea,Â WR        Buy My OnlyPhins    19
19      DeAndre HopkinsÂ Ari,Â WR      Oaxacan Red Beards    20

In [196]:
draft_names = draft_results.Player.str.split(expand=True)

AttributeError: 'DataFrame' object has no attribute 'Player'

In [195]:
draft_results = pd.DataFrame(draft_results)
draft_results

             0          1     2   3     4
0    Christian  McCaffrey  Car,  RB  None
1       Saquon    Barkley  NYG,  RB  None
2       Dalvin       Cook  Min,  RB  None
3      Derrick      Henry  Ten,  RB  None
4      Patrick    Mahomes   KC,  QB  None
..         ...        ...   ...  ..   ...
155        Mac      Jones   NE,  QB  None
156       Matt        Gay  LAR,   K  None
157    Giovani    Bernard   TB,  RB  None
158       Greg   Zuerlein  Dal,   K  None
159      Tyler       Bass  Buf,   K  None

[160 rows x 5 columns]